html {
    box-sizing: border-box;
}

/* if you use some modules that they have another box-sizing, bellow style do not change it*/
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: tahoma, serif;
    line-height: 1.6;
}

input{
    font: transparent;
}

.clearfix::after,
.clearfix::before {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.header {
    background-color: #fff;
}

.top-header-wrapper {
    margin: 0;
    position: relative;
}

@media (min-width: 48em) {
    .top-header-wrapper {
        position: static;
    }
}

.nav-toggle {
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
    padding: .75em;
    transition: .3s transform;
}

.nav-toggle.is-active {
    transform: rotate(90deg) ;
}

@media (min-width: 48em) {
    .nav-toggle {
        display: none;
    }
}

.nav-menu{
    position: absolute;
    background: hsla(0, 0%, 0%, .9);
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
}

.nav-menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: 48em) {
    .nav-menu{
        position: static;
        background-color: transparent;
        opacity: 1;
        pointer-events: auto;
    }
}

.nav-item {
    list-style: none;
    display: block;
    margin-right: .5em;
    text-align: center;
}

@media (min-width: 48em) {
    .nav-item{
        position: static;
        float: left;  
    }
}

@media (max-width: 47.99em) {
    .nav-item {
        transform: translate3d(0,-50%,0);
        transition: .3s transform;
    }
    .nav-menu.is-active .nav-item {
        transform: translate3d(0,0,0);
    }
}

.nav-link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

@media (min-width: 48em) {
    .nav-link {
        color: #2e2e2e;
        padding: 1em 1em 1.2em;
        border-top: .2em solid transparent;
    }
    .nav-link:hover{
        border-top: .2em solid #4DD0E1;
    }
}


.logo {
    margin: 0;
    font-size: 1em;
    float: right;
}

.vh {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.logo__img {
    display: block;
    width: 8em;
    margin: 1.1em 0;
}

.banner {
    background: url("../images/banner.jpg") no-repeat center top/cover;
}

.baner-wrapper {
    color: #fff;
    text-align: center;
    padding: 5em 0;
}

.banner_title {
    font-size: 2em;
    margin-bottom: 0;
}
.banner_tagline {
    margin-top: 0;
    color: #ccc;
    text-transform: uppercase;
}
.banner_date {
    color: #ccc;
}
.banner_time {
    font-size: 2em;
    color: #fff;
}
.banner_btn {
    display: table;
    margin: 2em auto;
    padding: .5em 4em;
    text-decoration: none;
    color: white;
    background-color: hsla(198, 100%, 45%, 0.73);
}

/* MAIN STYLES */

.main {

}

/* WELCOME SECTION STYLES */

.welcome {
    padding: 3em 1em 2em 1em;
    color: #fff;
    background-color: #009ee3;
}

@media (min-width : 48em) {
    .welcome_bg {
        background-image: linear-gradient(to right,#fff 50%,#009ee3 50%);
    }
    .welcome {
        position: relative;
        padding: 1em 1em 2em 2em;
    }
    .welcome::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 0;
        margin: auto 0;
        border-style: solid;
        border-width: 1.2em 0 1.2em 1em;
        border-color: transparent transparent transparent #fff;
    }
}

.welcome-tilte {
    font-size: 1.2em;
    text-transform: uppercase;    
}

.welcome-message-wrapper {
    margin: 3em 0;
}

.welcome-image {
    float: left;
    width: 10em;
    height: 10em;
    margin: 0 1em 1em 0;
    border-radius: 50%;
}

.welcome-desc {
    font-size: .9em;
}

.welcom-more {
    color: white;
    font-size: 1em;
    display: table;
    margin-left: auto;
    padding: .8em 1.5em;
    border: .15em solid white;
    border-radius: .2em;
    text-decoration: none;
}

/* RECENT WORKS STYLES */

.recent-works {
    padding: 1em 2em 1em 0;
} 

.works-title {
    font-size: 1.2em;
    text-transform: uppercase;
    
} 

.works-desc {
    font-size: .9em;
    color: #999;
    margin-bottom: 0;
} 


/* SERVICES SECTION */

.services {
    padding: 3em 0;
}

.service {
    text-align: center;
    color: #999;
    padding-bottom: 2em;
}

.service-icon {
    font-size: 2em;

}
.service-title {
    color: rgb(37, 37, 37);
    text-transform: uppercase;
    font-size: 1em;
}
.service-desc {
    font-size: .9em;
}

.section-tilte {
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: .7em ;
}

.section-tilte::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    width: 5em;
    height: .1em;
    background: #b0e1f5;
}

.section-tagline {
    font-size: .9em;
    color: #777;
    text-align: center;
    margin-bottom: 3em;
}

/* PROJECTS STYLES */

.featured-projects {
    background-color: #f8f8f8;
    padding: 3em 0 ;
}

.project {
    position: relative;
    overflow: hidden;
    margin: .5em 0;
}

.project-img {
    display: block;
    width: 100%;
}

.project-caption {
    background: hsla(0,0%,0%,.3);
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: .5em 1em;
}

@media (min-width:61.25em) {
    .project-caption {
        transform: translate3d(0,100%,0);
        transition: .3s transform;
    }
    .project:hover .project-caption {
        transform: translate3d(0,0,0);
    }
}

.project_name {
    margin: .5em 0;
    text-transform: uppercase;
    font-size: 1em;
}

.project_desc {
    font-size: .9em;
    margin: .5em 0;
}

.project_icons {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition: .3s opacity;
}

@media (min-width:61.25em) {
    .project_icons {
        font-size: 1.2em;
        opacity: 0;
    }   
    .project:hover .project_icons {
        opacity: 1;
    }
}

.project_icons li {
    list-style: none;
    display: table;
    float: left;
}

.project_icon {
    font-size: .8em;
    padding: 1em;
    text-decoration: none;
}

.project_iconblue {
    color: #fff;
    background-color: hsla(198, 100%, 45%, 0.73);
}

.project_icongray {
    color: #555;
    background-color: hsla(0, 100%, 100%, .5);
}

/* PEPLE COMMENTS SECTION */

.people-say {
    width: 100%;
    background: linear-gradient(
      rgba(35, 202, 253, 0.405), 
      rgba(35, 202, 253, 0.405)
    ),
    url('../images/5.jpg') no-repeat center top/cover;
}

.people-section-wrapper {
    padding: 3em 0 2em;
    text-align: center;
}

.white_title {
    color: #fff;
}

.white_title::after {
    background-color: #fff;
}

.person-picture {
    width: 4.5em;
    border: .15em solid #fff;
    border-radius: 50%;
    margin: 1em 0;
}

.comment-box {
    color: #fff;
    position: relative;
    padding-bottom: 1em;
}

.person-name {
    font-size: 1em;
    margin: 0;
}

.person-comment {
    font-size: .9em;
}

.left-quote {
    position: absolute;
    top: 0;
    left: 0;
}

.right-quote {
    position: absolute;
    right: 0;
    bottom: 0;
}

.buttons {
    display: table;
    border: .1em solid #fff;
    padding: .2em .5em;
    margin: 1em auto 0 auto;
}

.change-comment {
    display: inline-block;
    color: #fff;
    text-decoration: none; 
}

/* CONTACT STYLES */

.our-contact {
    padding: 2em 0;
}

.input{
    display: block;
    width: 100%;
    padding: .5em;
    border: 1px solid #ccc;
    color: #333;
    font-size: .9em;
    font-family: inherit;
    margin: 1em 0;
}

@media (min-width: 46.25em) {
    .contact-input {
      width: 100%;
      padding: 1em;
    }
  }

.contact-btn {
   background-color: #008ecc;
   color: #fff;
   text-transform: uppercase;
   border: none;
   text-align: center;
   font-size: .9em;
}

@media (min-width: 46.25em) {
    .contact-btn {
      display: table;
      width: auto;
      margin-left: 0;
      padding: 1em 5em;
    }
  }

.contact-btn:hover {
    cursor: pointer;
}

.contact-us {
    margin: 1em auto;
}

.contact-us-title {
    font-size: 1.2em;
    color: #333;
    border-bottom: 3px solid #4DD0E1;
    margin: 0 1.4em 1em;
    padding-bottom: 0.5em;
}


.contact-text {
    color : #777;
    display: inline-block;
}

.contact-icon {
    color : #777;
    display: inline-block;
    vertical-align: top;
    margin: .3em .5em;
}

.location {
    height: 20em;
}

.map{
    width: 100%;
    height: 100%;
    display: block;
}

/* FOOTER STYLES */

.footer {
    background-color: #2e2e2e;
    color: #ccc;
    text-align: center;
    padding: 2em 0;
}

.footer_title {
    font-size: 1em;
    text-transform: uppercase;
}
.footer_tadline {
    font-size: 1em;
    margin: 0 auto;
}
.email-box {
    display: table;
    margin: 2em auto;
    white-space: nowrap;
    border: 1px solid #7f7f7f;
    border-radius: .2em;
}
.email {
    padding: .5em 1em;
    display: table;
    background-color: transparent;
    border: none;
    color: white;
    font-size: .9em;
    float: left;
}

.email:focus{
    outline: none;
}
.email-btn {
    color: #c1c1c1;
    text-decoration: none;
    padding: .5em 1em;
    background-color: #7f7f7f;
    display: table;
    vertical-align: bottom;
    float: left;
}
.social-wrapper {
    margin: 1em auto;
    padding: 0;
}
.social-links {
    display: inline-block;
    list-style: none;
}
.copyright {
    color: #7f7f7f;
}
.social-link {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 1.5em;
    padding: .7em;
}

.social-link:hover {
    color: #a7a7a7;
}