html {
    box-sizing: border-box;
}

/* if you use some modules that they have another box-sizing, bellow style do not change it*/
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: tahoma, serif;
    line-height: 1.6;
}

input{
    font: transparent;
}

.inner-container{
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    
}

.top-header-wrapper {
    margin: 0;
    padding: 1em 0;
}

.logo {
    margin: 0;
    font-size: 1em;
}

.logo__img {
    display: block;
    width: 8em;
}

.banner {
    background: url("../images/banner.jpg") no-repeat center top/cover;
}

.baner-wrapper {
    color: #fff;
    text-align: center;
    padding: 5em 0;
}

.banner_title {
    font-size: 2em;
    margin-bottom: 0;
}
.banner_tagline {
    margin-top: 0;
    color: #ccc;
    text-transform: uppercase;
}
.banner_date {
    color: #ccc;
}
.banner_time {
    font-size: 2em;
    color: #fff;
}
.banner_btn {
    display: table;
    margin: 2em auto;
    padding: .5em 4em;
    text-decoration: none;
    color: white;
    background-color: hsla(198, 100%, 45%, 0.73);
}

.main {

}

.section-tilte {
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: .7em ;
}

.section-tilte::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    width: 5em;
    height: .1em;
    background: #b0e1f5;
}

.section-tagline {
    font-size: .9em;
    color: #777;
    text-align: center;
    margin-bottom: 3em;
}

/* PROJECTS STYLES */

.featured-projects {
    background-color: #f8f8f8;
    padding: 3em 0 ;
}

.project {
    position: relative;
    overflow: hidden;
}

.project-img {
    display: block;
    width: 100%;
}

.project-caption {
    background-color: hsla(0, 100%, 100%, .3);
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: .5em 1em;
    transform: translate3d(0,100%,0);
    transition: .3s transform;
}

.project:hover .project-caption {
    transform: translate3d(0,0,0);
}

.project_name {
    margin: .5em 0;
    text-transform: uppercase;
    font-size: 1em;
}

.project_desc {
    font-size: .9em;
    margin: .5em 0;
}

.project_icons {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transition: .3s opacity;
}

.project:hover .project_icons {
    opacity: 1;
}

.project_icons li {
    list-style: none;
    display: inline-block;
    margin: 0 -3px;
}

.project_icon {
    font-size: .8em;
    padding: 1em;
    text-decoration: none;
}

.project_iconblue {
    color: #fff;
    background-color: hsla(198, 100%, 45%, 0.73);
}

.project_icongray {
    color: #555;
    background-color: hsla(0, 100%, 100%, .5);
}

/* PEPLE COMMENTS SECTION */

.people-say {
    width: 100%;
    background: linear-gradient(
      rgba(35, 202, 253, 0.405), 
      rgba(35, 202, 253, 0.405)
    ),
    url('../images/5.jpg') no-repeat center top/cover;
}

.people-section-wrapper {
    padding: 3em 0 2em 0;
    text-align: center;
}

.white_title {
    color: #fff;
}

.white_title::after {
    background-color: #fff;
}

.person-picture {
    width: 4.5em;
    border: .15em solid #fff;
    border-radius: 50%;
    margin: 1em 0;
}

.comment-box {
    color: #fff;
    position: relative;
    padding-bottom: 1em;
}

.person-name {
    font-size: 1em;
    margin: 0;
}

.person-comment {
    font-size: .9em;
}

.left-quote {
    position: absolute;
    top: 0;
    left: 0;
}

.right-quote {
    position: absolute;
    right: 0;
    bottom: 0;
}

.buttons {
    display: table;
    border: .1em solid #fff;
    padding: .2em .5em;
    margin: 1em auto 0 auto;
}

.change-comment {
    display: inline-block;
    color: #fff;
    text-decoration: none; 
}

/* CONTACT STYLES */

.our-contact {
    padding: 2em;
}

.input{
    display: block;
    width: 100%;
    padding: .5em;
    border: 1px solid #ccc;
    color: #333;
    font-size: .9em;
    font-family: inherit;
    margin: 1em 0;
}

.contact-btn {
   background-color: #008ecc;
   color: #fff;
   text-transform: uppercase;
   border: none;
   text-align: center;
   font-size: .9em;
}

.contact-btn:hover {
    cursor: pointer;
}

.contact-us-title {
    font-size: 1.2em;
    color: #333;
    border-bottom: 3px solid #4DD0E1;
    margin: 0 1.4em 1em;
    padding-bottom: 0.5em;
}

.contact-wrapper {
    white-space: nowrap;
}

.contact-text {
    color : #777;
    display: inline-block;
}

.contact-icon {
    color : #777;
    display: inline-block;
    vertical-align: top;
    margin: .3em .5em;
}

.location {
    height: 20em;
}

.map{
    width: 100%;
    height: 100%;
    display: block;
}

/* FOOTER STYLES */

.footer {
    background-color: #2e2e2e;
    color: #ccc;
    text-align: center;
    padding: 2em 0;
}

.footer_title {
    font-size: 1em;
    text-transform: uppercase;
}
.footer_tadline {
    font-size: 1em;
    margin: 0 auto;
}
.email-box {
    display: table;
    margin: 2em auto;
    white-space: nowrap;
    border: 1px solid #7f7f7f;
}
.email {
    padding: .5em 1em;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: .9em;
}

.email:focus{
    outline: none;
}
.email-btn {
    color: #c1c1c1;
    text-decoration: none;
    padding: .5em 1em;
    background-color: #7f7f7f;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 -2px;
}
.social-wrapper {
    margin: 1em auto;
    padding: 0;
}
.social-links {
    display: inline-block;
    list-style: none;
}
.copyright {
    color: #7f7f7f;
}
.social-link {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 1.5em;
    padding: .7em;
}

.social-link:hover {
    color: #a7a7a7;
}